<div class="pedido-finalizado">
	<div class="cabecalho-interno caixa-dados borda-alpha row">
		<div class="col-sm-4 order-1 order-md-0">

			<ul class="caixa-info d-none d-md-block">
				<li>
					<h4 class="cor-secundaria">Número do pedido:</h4>
				</li>
				<li>
					<h2 class="primary-color numero-pedido"><i class="bi bi-check2-square"></i> {{ order_id }}</h2>
				</li>
				<li>
					Situação do pedido: <b class="primary-color">{{ order_status.name }}</b>
					{% if status == 'pending' %}
						<i class="fa fa-spinner fa-spin fa-2x"></i>
					{% endif %}
				</li>
			</ul>

			<ul class="caixa-info mt-3">
				<li>
					<strong>Entrega: <b class="primary-color">{{ shipping_method }}</b></strong>
					<p>Após aprovação da compra</p>
				</li>
			</ul>

			<ul class="list-group mt-3 caixa-info p-0">
				<li class="list-group-item"><b>Transação:</b> {{ transaction_id }}</li>
				<li class="list-group-item"><b>Forma de pagamento:</b> {{ payment_method }}</li>
				<li class="list-group-item"><b>Valor total:</b> {{ total }}</li>
				<li class="list-group-item"><b>Data do pedido:</b> {{ date }}</li>
			</ul>

			<ul class="list-group mt-3 caixa-info p-0">
				<li class="list-group-item">
					<strong>Dados cadastrais:</strong>
				</li>
				<li class="list-group-item"><b>Seu nome:</b> {{ firstname }} {{ lastname }}</li>
				<li class="list-group-item"><b>Endereço:</b> {{ address_1 }}</li>
				<li class="list-group-item"><b>Bairro:</b> {{ address_2 }}</li>
				<li class="list-group-item"><b>CEP:</b> {{ postcode }}</li>
			</ul>

		</div>


		<div class="col-sm-8">

			<ul class="caixa-info mb-3 d-block d-md-none">
				<li>
					<h4 class="cor-secundaria">Número do pedido:</h4>
				</li>
				<li>
					<h2 class="primary-color numero-pedido"><i class="bi bi-check2-square"></i> {{ order_id }}</h2>
				</li>
				<li>
					Situação do pedido: <b class="primary-color">{{ order_status.name }}</b>
					{% if status == 'pending' %}
					<div class="spinner-border" role="status" style="width: 15px; height: 15px;">
						<span class="visually-hidden">Loading...</span>
					</div>
					{% endif %}
				</li>
			</ul>

			<div class="box pt-3" id="box-pagamento-pix">

				<!-- status de pagamento -->
				<div class="order-status order-state-canceled" style="display: none;">
					<div class="alert alert-danger">
						<h3 class="primary-color"><b>PAGAMENTO CANCELADO</b></h3>
						<p>O pagamento via PIX foi cancelado devido à expiração do prazo</p>
					</div>

					<a href="{{ account }}" class="btn btn-secondary">{{ text_account }}</a>
					<a href="{{ order }}" class="btn btn-secondary">Acompanhar pedido</a>
				</div>

				<div class="order-status order-state-paid" style="display: none;">
					<div class="alert alert-info">
						<h3 class="primary-color"><b>PAGAMENTO APROVADO</b></h3>
						<p>Seu pagamento foi aprovado com sucesso! Obrigado pela sua compra e pela confiança em nossos
							serviços.</p>
					</div>

					<a href="{{ account }}" class="btn btn-secondary">{{ text_account }}</a>
					<a href="{{ order }}" class="btn btn-secondary">Acompanhar pedido</a>
				</div>
				<!-- /status de pagamento -->

				<!-- qrcode -->
				<div class="mensagem block-qrcode order-state order-state-pending">
					<div class="title text-center cor-secundaria hidden-phone">
						Use o QR Code para pagar o PIX
					</div>
					<div class="order-value text-center hidden-phone">
						<span>Valor da compra:</span>
						<strong class="primary-color">{{ total }}</strong>
					</div>
					<div class="order-value-mobile text-center d-block d-md-none">
						<span>Valor do Pix a pagar:</span>
						<strong class="primary-color">{{ total }}</strong>
					</div>
					<div class="pix-code-info">
						<div class="pix-qrcode text-center">
							<img src="{{ qr_code_url }}">
						</div>
						<div class="pix-code text-center">
							<p class="hidden-phone">Você também pode pagar escolhendo a opção PIX copia e cola no
								aplicativo que você usa.</p>
							<p class="d-block d-md-none">Pague escolhendo a opção Pix Copia e Cola no aplicativo que
								você usa.</p>
							<a class="pix-code-copy cor-secundaria hidden-phone" data-placement="top" title="" href="#"
								data-original-title="Código copiado!">
								<i class="fa fa-copy"></i>
								Copiar código do QR Code
							</a>
							<button class="mt-3 pix-code-copy btn btn-primary d-block d-md-none" data-placement="top"
								title="" data-original-title="Código copiado!">
								Copiar código Pix Copia e Cola
								<i class="fa fa-copy"></i>
							</button>
							<input type="hidden" name="pix_code" id="pix_code" value="{{ qr_code }}"
								readonly="readonly">
						</div>
					</div>
					<hr>

					<!-- INSTRUÇÕES PIX -->
					<div class="text-center">
						<div class="pix-steps">
							<div class="stepper-wrapper">
								<div class="stepper-item">
									<div class="step-counter">1</div>
									<div class="step-name">Abra o app do banco na opção PIX</div>
								</div>
								<div class="stepper-item">
									<div class="step-counter">2</div>
									<div class="step-name">Selecione a opção de pagar com QR Code,
										aponte a câmera do seu celular para o QR Code ou copie e cole o
										código</div>
								</div>
								<div class="stepper-item">
									<div class="step-counter">3</div>
									<div class="step-name">Confira os dados e confirme o pagamento</div>
								</div>
							</div>
						</div>
						<div class="payment-by">
							<span>Pagamento processado por:</span>
							<div>
								<img src="https://projetos.vowt.com.br/dompagamento/image/footer/logo-pix.png" alt="PIX"
									width="100">
							</div>
						</div>
					</div>
					<!-- /INSTRUÇÕES PIX -->

				</div>
			</div>
		</div>
	</div>

</div>

{% if status == 'pending' %}
<script>
	/*
	const intervaloID = setInterval(() => {
		$.ajax({
			url: 'index.php?route=extension/payment/dompagamento/status&order_id={{ order_id }}',
			beforeSend: function () { },
			success: function (json) {
				$(`.order-state`).hide();
				$(`.order-state-${json.status}`).show();

				if (json.status != 'pending') {
					clearInterval(intervaloID);
				}

				if (json.status == 'paid') {
					location.reload();
				}
			},
		})
	}, 5000);
	*/
</script>
{% else %}
<script>
	$(`.order-state`).hide();
	$(`.order-state-{{ status }}`).show();
</script>
{% endif %}

<script type="text/javascript">
	$(function () {
		var tooltipCopyTimeout;
		$('#box-pagamento-pix .pix-code .pix-code-copy').click(function (e) {
			e.preventDefault();
			e.stopPropagation();
			var $elem = $(this);
			clearTimeout(tooltipCopyTimeout);
			var copyText = document.getElementById("pix_code");
			copyText.type = 'text';
			copyText.focus();
			copyText.select();
			copyText.setSelectionRange(0, 99999);
			document.execCommand('copy');
			copyText.type = 'hidden';

			navigator.clipboard.writeText(copyText.value);

			Swal.fire('Sucesso', 'Chave PIX copiada com sucesso!', 'success');

			return false;
		});
	});
</script>

<style>
	ul,
	li {
		list-style-type: none;
	}

	.pedido-finalizado #box-pagamento-pix .order-value span {
		display: block;
		font-size: 16px;
		margin-bottom: 5px;
	}

	.pedido-finalizado #box-pagamento-pix .order-value strong {
		font-size: 24px;
	}

	.list-group-item {
		background: none !important;
		border: none;
	}

	.pedido-finalizado #box-pagamento-pix {
		padding: 0 40px 40px 40px;
		background: #FFF;
		margin-bottom: 20px;
	}

	.secao-principal .box {
		box-shadow: 0 0 5px rgba(0, 0, 0, .15);
	}

	.pedido-finalizado .numero-pedido {
		font-size: 50px;
	}

	.pedido-finalizado #box-pagamento-pix a.pix-code-copy {
		font-weight: bold;
		font-size: 15px;
		text-decoration: none;
	}

	.pedido-finalizado #box-pagamento-pix .pix-steps .stepper-item::after {
		position: absolute;
		content: "";
		border-bottom: 2px solid #d5d7da;
		width: 100%;
		top: 17px;
		left: 40%;
		z-index: 2;
	}

	.pedido-finalizado #box-pagamento-pix .pix-steps .stepper-item .step-counter {
		position: relative;
		z-index: 5;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		border: 2px solid #a3aab5;
		border-radius: 50%;
		background: #FFF;
		margin-bottom: 5px;
	}

	.pedido-finalizado #box-pagamento-pix .pix-steps {
		display: inline-block;
		line-height: 17px;
		margin-bottom: 20px;
	}

	.secao-principal .borda-alpha,
	.secao-principal .borda-alpha * {
		border-color: rgba(0, 0, 0, .09);
	}

	.pedido-finalizado #box-pagamento-pix .pix-steps .stepper-item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1;
		max-width: 140px;
		padding: 0 10px;
	}

	.secao-principal .borda-alpha,
	.secao-principal .borda-alpha * {
		border-color: rgba(0, 0, 0, .09);
	}

	.pedido-finalizado #box-pagamento-pix .pix-steps .stepper-wrapper {
		margin-top: auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	.secao-principal .borda-alpha,
	.secao-principal .borda-alpha * {
		border-color: rgba(0, 0, 0, .09);
	}

	.pedido-finalizado #box-pagamento-pix .title {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 15px;
	}

	.title,
	.titulo,
	.titulo-categoria,
	.titulo-sessao,
	.nome-produto {
		font-family: poppins, sans-serif !important;
	}

	.pedido-finalizado .cabecalho-interno ul {
		margin: 0 10px 0 0;
	}

	.pedido-finalizado .cabecalho-interno {
		padding: 10px 0;
		border: 0;
		margin-bottom: 20px;
	}

	.primary-color {
		color: #000 !important;
	}

	.row-fluid .span4 {
		width: 31.861702127659576%;
	}

	.secao-principal .borda-alpha,
	.secao-principal .borda-alpha * {
		border-color: rgba(0, 0, 0, .09);
	}

	.secao-principal .caixa-info {
		background-color: rgba(0, 0, 0, .02);
		border-radius: 3px;
		box-shadow: none;
	}

	.caixa-info {
		border-radius: 10px;
		padding: 10px 15px;
		background-color: rgba(0, 0, 0, 0.04);
		border: 1px solid #fff;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	}

	.visually-hidden {
		display: none;
	}
</style>







<div class="pt-3 d-none">
	{% if qr_code_url %}
	<div class="row">

		<div class="col-sm-3" id="qrcode">
			<img src="{{ qr_code_url }}" alt="" class="img-responsive">
		</div>

		<div class="col-sm-6">
			<h3>Como eu pago com Pix?</h3>
			<ul class="list-group">
				<li class="list-group-item">Abra o aplicativo do seu banco e navegue para a seção de Pix</li>
				<li class="list-group-item">Selecione a opção pagar por PIX QR Code ou Pix Copia e Cola e aponte a
					câmera para o código QR ao lado ou copie e cole o código</li>
				<li class="list-group-item">
					<b>PIX Copia e cola:</b>
					<textarea name="" id="" rows="4" class="form-control"
						onclick="$(this).select(); document.execCommand('copy');">{{ qr_code }}</textarea>
				</li>
				<li class="list-group-item">
					<a href="javascript:;" class="btn btn-default" onclick="location.reload()">Verificar pagamento</a>
				</li>
			</ul>
		</div>

	</div>
	{% endif %}
</div>