<ul class="nav nav-tabs">
    {% for index, store in stores %}
      <li {% if index == 0 %}class="active"{% endif %}><a href="#tab-boleto-store-{{ store.store_id }}" data-toggle="tab">{{ store.name }}</a></li>
    {% endfor %}
</ul>

<div class="tab-content">
    {% for index, store in stores %}
    <div class="tab-pane{% if index == 0 %} active{% endif %}" id="tab-boleto-store-{{ store.store_id }}">
                
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-title"><span data-toggle="tooltip" title="{{ help_title }}">{{ entry_title }}</span></label>
            <div class="col-sm-10">
                <input type="text" name="payment_dompagamento_boleto_title[{{ store.store_id }}]" value="{{ payment_dompagamento_boleto_title[store.store_id] }}" placeholder="{{ entry_title }}" id="input-title" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-expire"><span data-toggle="tooltip" expire="{{ help_expire }}">{{ entry_expire }}</span></label>
            <div class="col-sm-10">
                <input type="text" name="payment_dompagamento_boleto_expire[{{ store.store_id }}]" value="{{ payment_dompagamento_boleto_expire[store.store_id] }}" placeholder="{{ entry_expire }}" id="input-expire" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-discount_boleto">{{ entry_discount }}</label>
            <div class="col-sm-3">
                <input type="number" name="total_dompagamento_discount_boleto_value[{{ store.store_id }}]" value="{{ total_dompagamento_discount_boleto_value[store.store_id] }}" placeholder="Ex: 10 para 10%" id="input-payment_discount_boleto" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-boleto-discount-type">{{ entry_discount_type }}</label>
            <div class="col-sm-10">
                <select name="total_dompagamento_discount_boleto_type[{{ store.store_id }}]" id="input-boleto-discount-type" class="form-control">
                    <option value="p" {% if total_dompagamento_discount_boleto_type[store.store_id] == 'p' %}selected{% endif %}>Porcentagem</option>
                    <option value="f" {% if total_dompagamento_discount_boleto_type[store.store_id] == 'f' %}selected{% endif %}>Fixo</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
                <input type="text" name="payment_dompagamento_boleto_custom_sort_order[{{ store.store_id }}]" value="{{ payment_dompagamento_boleto_custom_sort_order[store.store_id] }}" id="input-payment_discount_card" class="form-control" placeholder="{{ entry_sort_order }}" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
                <select name="payment_dompagamento_boleto_status[{{ store.store_id }}]" id="input-status" class="form-control">
                    {% if payment_dompagamento_boleto_status[store.store_id] %}
                        <option value="1" selected="selected">{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                    {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                </select>
            </div>
        </div>
    </div>
    {% endfor %}
</div>