<div class="alert alert-{{ alert }}">
	<h3 class="primary-color"><b>{{ order_status_name }}</b></h3>
	<p>Seu pedido foi finalizado sucesso! Obrigado pela sua compra e pela confiança em nossos serviços.</p>
</div>

<a href="{{ account }}" class="btn btn-secondary">{{ text_account }}</a>
<a href="{{ order }}" class="btn btn-secondary">Acompanhar pedido</a>